---

---
<style>
  html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
  }
  .wrapper{
    margin: 0 auto;
    max-width: 1280px;    
  }
  .cards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
  .cards2 {
    margin: auto;
    display: grid;
  }
  .card {
    background-color: black;
    align-self: center;
    min-height:max-content;
  }
  .card img {
    width: 100%;
    max-height: 1000px;
    object-fit: cover;
  }
  .s1 {
    max-width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2rem;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .s2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    max-width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;;
  }
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=M+PLUS+Code+Latin&&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		<title>Astro</title>
	</head>
	<body>
    <div class="wrapper">
      <div class="cards">
        <div class="card">
          <div class="cards2">
            <div class="card"> 
              <p class="s1">
                PT. LGS TECHNOLOGIES INDONESIA
              </p>
            </div>
            <div class="card"> 
              <p class="s2">
                Welcome to PT LGS TECHNOLOGIES INDONESIA, where innovation drives every aspect of our products. As industry pioneers, we're dedicated to crafting superior products that redefine excelence and innovation in water pump industry. With an unwavering focus on quality and customer satisfaction, we've solidified our position as a trusted leader in the industry. Explore our website to see how we're shaping the future of technologies and water pumps. Welcome to the realm of LGS.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="images/hello.avif" alt="If this image dont show up it means your browser dont support avif image format">
        </div>
      </div>
    </div>
	</body>
</html>
